FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
OLD_PROJECT_CREDENTIALS=
SEED_ADMIN_PASSWORD=
SEED_ALUMNO_PASSWORD=
SEED_COORD_PASSWORD=
SEED_DOCENTE_PASSWORD=
SEED_ENFERMERIA_PASSWORD=
SEED_PSICOPEDAGOGIA_PASSWORD=
SEED_REGISTRO_PASSWORD=
VITE_GEMINI_API_KEY=
VITE_GROQ_API_KEY=
VITE_OLLAMA_BASE_URL=
